
/* PsiSkin colors */

blockquote {
   background-color:#fbfbfb;
   border-color:#ddd;
}

.patternTopic a:visited {
   color:#800080;
}

.patternSigLine {
   color:#777;
   background-color:#f6f6f6;
   border-color:#e2e2e2;
}


.patternLeftBarPersonalContent li {
	padding-left: 0;
	background-image: none;
}

a.newlink {
   color: #CC2200;
   text-decoration: none;
   border-bottom: 1px dotted; 
}

a.newlink:hover {
   color: white;
}

/*
:link:focus, :visited:focus, :link, :visited, :link:active, :visited:active {
 text-decoration:none;
}
*/

.twikiToc .twikiTocTitle {
  color: black;
}

h1 {
  color: #D1400E;
}

.patternTopicActions {
  background-color:#EBF5F8;
  color:black;
}

.patternActionButtons a:link, 
.patternActionButtons a:visited {
  color:black;
}

.patternActionButtons a:hover {
  color:white;
}

.patternTopicAction a:link .foswikiAccessKey,
.patternTopicAction a:visited .foswikiAccessKey {
  color:black;
  text-decoration: underline;
}

.patternTopicAction a:hover .foswikiAccessKey {
  color:white;
  text-decoration: underline;
}

.foswikiToc .foswikiTocTitle {
	color: black;
}

.restriction {
	background-color: #FFFFBB;
	border: 2px solid #FFCC33;
	padding: 0 10px;
	margin-bottom: 15px;
}