blockquote {
	padding:.5em 1.25em;
	border-style:solid;
	border-width:0 0 0 3px;
}

#twikiLogin {
	width:41em;
	margin:0 auto;
	text-align:center;
}

.patternLeftBarPersonalContent {
    border-top: solid 1px #E2E2E2;
    margin-top: 8px;
    padding-top: 4px;
}

#patternSideBarContents .patternLeftBarPersonal {
	border-bottom-style: none;
}

/* ClassificationPlugin */

.clsAuthorDateInfo {
	color: grey;
	font-size: 80%;
}

.clsSideBar {
	border: none;
}

/* Classification EditChapterPlugin*/

.ecpHeading {
	display:inline;
}


h1, h2, h3, h4, h5, h6 {
	line-height:1.1em;
	font-weight: normal;
}

dt {
	font-weight: bold;
}

#footnote {
  font-size: .9em;
  line-height: 1.2em;
}

#footnote p {
  margin: 0;
}

#footnote .FootNote {
  margin-left: 5px;
}

#footnote .FootNoteLabel{
  font-size: .8em;
}

#footnote .FootNoteLabel a {
  text-decoration: none;
}

blockquote {
   padding: 0.5em 0.6em;
   margin-left: 2em;
}

blockquote.tip {
   padding-left: 2em ;
   background-image:url(../FamFamFamSilkIcons/lightbulb.png); 
   background-repeat:no-repeat; 
   background-position: 5px 10px;
   margin-left: 2em;
}

blockquote.warn {
   padding-left: 2em ;
   background-image:url(../FamFamFamSilkIcons/error.png); 
   background-repeat:no-repeat; 
   background-position: 5px 10px;
   margin-left: 2em;
}

blockquote.psi {
   padding-left: 2em ;
   background-image:url(../DocumentGraphics/psi.gif); 
   background-repeat:no-repeat; 
   background-position: 5px 10px;
   margin-left: 2em;
}

/* DMS Icon */

.patternContent a[href^="http:"] {
   background-image: url(../DocumentGraphics/external.gif);
   background-position:  right center;
   background-repeat:  no-repeat;
   padding-right: 18px;
}

.patternContent a[href^="http:"]:hover, 
.patternContent a[href^="http:"]:visited:hover {
   background-image: url(../DocumentGraphics/external-hover.gif);
}

.patternContent a[href^="http:"]:visited {
   background-image: url(../DocumentGraphics/external-visited.gif);
}


.patternContent a[href^="mailto:"] {
   background-image: url(../DocumentGraphics/mail.gif);
   background-position:  right center;
   background-repeat:  no-repeat;
   padding-right: 18px;
}

.patternContent a.noicon {
   background-image: none;
        padding-right: 0px;
}


/* ...but not to absolute links in this domain...

div.blogbody a[href^="https://w.kryogenix.org"] {
        background: transparent;
        padding-right: 0px;
}

*/
 
.patternContent a[href^="https:\/\/dms\.psi\.ch"] {
   background-image: url(../DocumentGraphics/dms.gif);
   background-position:  right center;
   background-repeat:  no-repeat;
   padding-right: 18px;
}

table { 
   caption-side: bottom;  
}

caption {
	width: auto;
   text-align: left;
   font-style: italic;
   font-size: 0.9em;
} 

.twikiFormStep, .twikiFormSteps {
  position: relative; 
}

/* Quotes */

:lang(de)    { quotes:"\201E" "\201C" "\201A" "\2018"; }
:lang(en)    { quotes:"\201C" "\201D" "\2018" "\2019"; }
:lang(fr)    { quotes:"\00AB\A0" "\A0\00BB" "\2039\A0" "\A0\203A"; }

q:before { content:open-quote; color:#000000; }
q:after { content:close-quote; color:#000000; }

#patternOuter {
  border-left: 1px solid #e2e2e2;
}

#patternSideBar {
  margin-right: 1px;
  width:15.9em;
}

.foswikiTopicSummary {
  font-size: 50%;
}

.foswikiCurrentTopicLink {
  color: #D1400E;
}

.clsCatInfo, .clsTagInfo {
  font-size: 80%;
}

.foswikiTopicInfo {
  border-bottom: 1px solid silver;
  font-size: .8em;
  margin-bottom: 1em;
}

.foswikiTopicInfo h1 {
  font-size: 2.375em;
  line-height: 1em;
  margin-bottom:0.2em;
}

#foswikiLogo {
	margin-top: -8px;
}

.lock {
	border: 0;
	margin: 5px;
}

.restriction ul {
	margin-bottom: 0;
}

p, dd {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}